# Direwolf configuration managed by Ansible
ADEVICE {{ direwolf_audio_input }} {{ direwolf_audio_output }}
ACHANNELS 1
ARATE 48000
CHANNEL 0
MYCALL NOCALL
MODEM 1200
PTT {{ direwolf_ptt_device }} {{ direwolf_ptt_line }}{% if direwolf_ptt_extra %} {{ direwolf_ptt_extra }}{% endif %}
